<section class="article-section">
  <div class="container article-container">
    <div class="article-description-container">
      <h2 class="article-title">
        Welcome to Booksy – your cozy corner for handpicked reads
      </h2>
      <div class="article-description">
        We believe books are more than just stories — they’re companions,
        doorways, and memories. Whether you’re chasing adventures or quiet
        moments, we’re here to help you find your next favorite book.
      </div>
    </div>
    <div class="article-image-container">
      <img
        srcset="
          ./img/article/article_x1.webp 1x,
          ./img/article/article_x2.webp 2x
        "
      />
    </div>
  </div>
</section>
