<section class="book-section">
    <div class="container book-container">
        <h2 class="visually-hidden">Trending books</h2>
        <div class="book-interface">
            <div class="book-counter-container">
                <h3 class="book-section-title">Books</h3>
                <div class="book-counter">Showing ** of ***</div>
            </div>
            <div class="book-categories-list-container">
                <div class="book-select-menu">
                    Categories
                </div>
                <svg class="book-menu-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-down-type-one"></use>
                </svg>
                <div class="book-categories-list-wrapper">
                    <ul class="book-categories-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="book-list-container">
            <ul class="book-list">
            </ul>
            <button class="modal-btn book-button-show-more">Show More</button>
        </div>
    </div>
</section>