<section class="events-section container">
  <p class="events-top">Events</p>
  <h2 class="events-subtitle">Upcoming Events at Booksy</h2>
  <p class="events-descr">
    Discover readings, workshops, and bookish gatherings — online and offline.
    Everyone’s welcome.
  </p>
  <div class="events-box swiper">
    <div class="events-list swiper-wrapper">
      <div class="swiper-slide">
        <div class="events-item">
          <picture>
            <source
              srcset="
                /img/events/a-dext-1x.jpg 1x,
                /img/events/a-dext-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <!-- <source
              srcset="events/a-dext-1x.jpg 1x, events/a-dext-2x.jpg 2x"
              media="(min-width: 1440px)"
            /> -->

            <source
              srcset="/img/events/a-mob-1x.jpg 1x, /img/events/a-mob-2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="/img/events/a-mob-1x.jpg 1x, /img/events/a-mob-2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img
              src="/img/events/a-mob-1x.jpg"
              alt="Cozy Book Club — “The Midnight Library”"
              class="events-photo"
              width="342"
              height="277"
            />
          </picture>

          <h3 class="events-desc-title">
            Cozy Book Club — “The Midnight Library”
          </h3>
          <p class="events-data">In-store | June 5, 6:30 PM</p>
          <p class="events-text">
            Join us for an evening of tea, thoughtful conversation, and shared
            reflections as we dive into Matt Haig’s bestseller.
          </p>
          <button type="button" class="events-btn">Register</button>
          <svg width="7" height="11" class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-icon"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="events-item">
          <picture>
            <source
              srcset="
                /img/events/b-dext-1x.jpg 1x,
                /img/events/b-dext-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="/img/events/b-tab-1x.jpg 1x, /img/events/b-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="/img/events/b-tab-1x.jpg 1x, /img/events/b-tab-2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img
              src="/img/events/b-tab-1x.jpg"
              alt="Cozy Book Club — “The Midnight Library”"
              class="events-photo"
              width="342"
              height="277"
            />
          </picture>

          <h3 class="events-desc-title">Book Cover Design Workshop</h3>
          <p class="events-data">Online | June 12, 7:00 PM</p>
          <p class="events-text">
            A hands-on session for aspiring designers and curious readers. Learn
            what makes a cover stand out — from concept to print.
          </p>
          <button type="button" class="events-btn">Register</button>
          <svg width="7" height="11" class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-icon"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="events-item">
          <picture>
            <source
              srcset="
                /img/events/c-dext-1x.jpg 1x,
                /img/events/c-dext-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/events/c-dext-1x.jpg 1x,
                /img/events/c-dext-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/events/c-dext-1x.jpg 1x,
                /img/events/c-dext-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="/img/events/c-dext-1x.jpg"
              alt="Cozy Book Club — “The Midnight Library”"
              class="events-photo"
              width="342"
              height="277"
            />
          </picture>
          <h3 class="events-desc-title">Children’s Story Hour</h3>
          <p class="events-data">In-store | June 15, 11:00 AM</p>
          <p class="events-text">
            A magical morning of stories, games, and imagination for our
            youngest book lovers (ages 4–8).
          </p>
          <div class="events-btn-wrapper">
            <button type="button" class="events-btn">Register</button>
            <svg width="7" height="11" class="icon">
              <use xlink:href="img/symbol-defs.svg#icon-icon"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="events-nav">
      <div class="swiper-pagination"></div>
      <div class="events-buttons">
        <div class="swiper-button-prev">
          <!-- <svg class="icon icon-arrow-left">
            <use href="/src/img/svg-sprite.svg/icon-arrow-left"></use>
          </svg> -->
        </div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
