<section class="feedbacks">
  <div class="container">
    <div class="info-container">
      <h2 class="section-title title-feedbacks">Customer Feedbacks</h2>
      <p class="info-text">See what our readers are saying about us!</p>
    </div>

    <div class="swiper feedbackSwiper">
      <ul class="swiper-wrapper"></ul>
    </div>

    <!-- buttons -->
    <div class="feedback-buttons">
      <div class="feedback-controls">
        <button class="control-btn" data-index="0"></button>
        <button class="control-btn" data-index="1"></button>
        <button class="control-btn" data-index="2"></button>
        <button class="control-btn" data-index="3"></button>
      </div>

      <div class="right-buttons-container">
        <button class="swipe-btn sw" id="feedbackPrev">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-left-type-two"></use>  
          </svg>
        </button>
        <button class="swipe-btn sw" id="feedbackNext">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-right-type-two"></use>
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>