<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="footer-container">
    <div class="footer">
      <div class="footer-content">
        <div class="footer-left-column">
          <div class="footer-logo">
            <a href="https://www.google.com" class="svg-link">
              <img src="../img/footer/BooksyLogo.svg" alt="Booksy logo" class="social-icon" width="84" height="36">
            </a>

          </div>

          <div class="footer-nav">
            <ul>
              <li><a href="#homeId" class="nav-link home-link"><span class="nav-text">Home</span></a></li>
              <li><a href="#BooksId" class="nav-link books-link"><span class="nav-text">Books</span></a></li>
              <li><a href="#FeedbackId" class="nav-link feedback-link"><span class="nav-text">Feedback</span></a></li>
              <li><a href="#LocationId" class="nav-link location-link"><span class="nav-text">Location</span></a></li>
            </ul>
          </div>
        </div>

        <div class="footer-right-column">
          <span class="join-title">Join</span>
          <div class="subscription-actions">
            <form class="subscription-form">
              <input
                type="email"
                placeholder="Enter your email"
                class="email-input"
                required
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              />
              <button type="submit" class="subscribe-button">
                <span>Sign Up</span>
              </button>
            </form>
            <div class="required-note">
              <span>* Required field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-credits">
        <hr class="divider" />
        <div class="credits-row">
          <span>© 2025 Booksy. All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
