<footer>
  <div class="footer-container">
    <div class="footer container">
      <div class="footer-content">
        <div class="footer-left-column">
          <div class="footer-logo">
            <a
            href="../index.html"
            class="svg-link"
          >
            <svg class="booksyLogo" width="84" height="36">
              <use href="../img/sprite.svg#icon-LOGO"></use>
            </svg>
          </a>
          </div>

          <div class="footer-nav">
            <ul>
              <li><a href="#homeId" class="nav-link home-link"><span class="nav-text">Home</span></a></li>
              <li><a href="#BooksId" class="nav-link books-link"><span class="nav-text">Books</span></a></li>
              <li><a href="#FeedbackId" class="nav-link feedback-link"><span class="nav-text">Feedback</span></a></li>
              <li><a href="#LocationId" class="nav-link location-link"><span class="nav-text">Location</span></a></li>
            </ul>
          </div>
        </div>

        <div class="footer-right-column">
          <h3 class="join-title">Join</h3>
          <div class="subscription-actions">
            <form class="subscription-form">
              <label class="visually-hidden" for="FooterUserEmail">Email:</label>
              <input
                type="email"
                placeholder="Enter your email"
                class="email-input"
                required
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                id="FooterUserEmail"
              />
              <button type="submit" class="subscribe-button">
                <span>Sign Up</span>
              </button>
            </form>
            <div class="required-note">
              <span>* Required field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-credits">
        <hr class="divider" />
        <div class="credits-row">
          <span>© 2025 Booksy. All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
