<header class="header">
  <div class="container header-container">
    <a href="#" class="logo-header" aria-label="Logo">
      <svg width="83" height="21">
        <use href="img/logo.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#hero" class="nav-link">Home</a></li>
        <li><a href="#books" class="nav-link">Books</a></li>
        <li><a href="#feedbacks" class="nav-link">Feedbacks</a></li>
        <li><a href="#events" class="nav-link">Events</a></li>
        <li><a href="#location" class="nav-link">Location</a></li>
      </ul>
    </nav>

    <button class="menu-btn" id="open-menu" aria-label="Відкрити меню">
      <svg class="icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu">
    <div class="menu-btn-container">
      <a href="#" class="logo-header" aria-label="Logo">
        <svg width="83" height="21">
          <use href="./img/logo.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="close-btn" id="close-menu" aria-label="Закрити меню">
        <svg class="icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-exit"></use>
        </svg>
      </button>
    </div>
    <nav>
      <ul class="mobile-nav-list">
        <li><a href="#home" class="nav-link">Home</a></li>
        <li><a href="#books" class="nav-link">Books</a></li>
        <li><a href="#feedbacks" class="nav-link">Feedbacks</a></li>
        <li><a href="#events" class="nav-link">Events</a></li>
        <li><a href="#location" class="nav-link">Location</a></li>
      </ul>
    </nav>
  </div>
</header>