<section class="hero" id="hero">
    <div class="container hero-container">
        <!-- Swiper-контейнер -->
            <div class="swiper hero-slider">
                <ul class="swiper-wrapper">
                    <!-- Слайд 1 -->
                    <li class="swiper-slide">
                        <div class="hero-slide-item">
                            <img 
                                class="hero-image" 
                                src="../img/hero/banner3(1x).webp" 
                                srcset="../img/hero/banner3(1x).webp 1x, ../img/hero/banner3(2x).webp 2x" 
                                alt="Open book and cup of coffee" 
                                />
                            <div class="hero-overlay">
                                <p class="hero-text">Get 10% off your first order</p>
                                <button class="hero-btn" type="button" data-scroll="#books">Shop Now!</button>
                            </div>
                        </div>
                    </li>
                    <!-- Слайд 2 -->
                    <li class="swiper-slide">
                        <div class="hero-slide-item">
                            <img class="hero-image" src="../img/hero/banner5(1x).webp" srcset="../img/hero/banner5(1x).webp 1x, ../img/hero/banner5(2x).webp 2x" alt="Open book with glasses" />
                            <div class="hero-overlay">
                                <p class="hero-text">Save 15% on some books</p>
                                <button class="hero-btn" type="button" data-scroll="#books">Shop Now!</button>
                            </div>
                        </div>
                    </li>
                    <!-- Слайд 3 -->
                    <li class="swiper-slide">
                        <div class="hero-slide-item">
                            <img class="hero-image" src="../img/hero/banner6(1x).webp" srcset="../img/hero/banner6(1x).webp 1x, ../img/hero/banner6(2x).webp 2x" alt="A lot of books" />
                            <div class="hero-overlay">
                                <p class="hero-text">Summer Sale!
                                    Up to -40% discounts</p>
                                <button class="hero-btn" type="button" data-scroll="#books">Shop Now!</button>
                            </div>
                        </div>
                    </li>
                    <!-- Слайд 4 -->
                    <li class="swiper-slide">
                        <div class="hero-slide-item">
                            <img class="hero-image" src="../img/hero/banner7(1x).webp" srcset="../img/hero/banner7(1x).webp 1x, ../img/hero/banner7(2x).webp 2x" alt="Flowers in vase" />
                            <div class="hero-overlay">
                                <p class="hero-text">Last chance to buy our spring bestsellers</p>
                                <button class="hero-btn" type="button" data-scroll="#books">Shop Now!</button>
                            </div>
                        </div>
                    </li>
                </ul>  
            <!-- Заголовок та навігація -->
                <div class="hero-title-nav">
                        <div class="hero-nav">
                            <button class="hero-nav-btn" id="PrevSlide">
                            <svg class="icon"><use href="../img/sprite.svg#icon-left-type-two"></use></svg>
                            </button>
                            <button class="hero-nav-btn" id="NextSlide">
                            <svg class="icon"><use href="./img/sprite.svg#icon-right-type-two"></use></svg>
                            </button>
                        </div>
                        <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
                </div>
            </div> 
    </div>
</section>