<div class="container" id="location">
  <div class="container-location">
    <div class="nav-container">
      <div class="text-location">
        <p class="name-loc">location</p>
        <h2 class="tite-location">How to find us</h2>
        <p class="p-location">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <div>
        <ul class="nav-list-location">
          <li class="loc-location">
            <div>
              <svg class="location-icon-email" width="24" height="24">
                <use href="./img/sprite.svg#icon-email"></use>
              </svg>
            </div>
            <div class="nav-content">
              <h3 class="contact-nav">Email</h3>
              <a href="mailto:hello@booksy.com" class="nav-li"
                >hello@booksy.com</a
              >
            </div>
          </li>
          <li class="loc-location">
            <div>
              <svg class="location-icon-tel" width="24" height="24">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
            </div>
            <div class="nav-content">
              <h3 class="contact-nav">Phone</h3>
              <a href="tel:+612413043012" class="nav-li">+61 (241) 304-3012</a>
            </div>
          </li>
          <li class="loc-location">
            <div>
              <svg class="location-icon-map" width="24" height="24">
                <use href="./img/sprite.svg#icon-location"></use>
              </svg>
            </div>
            <div class="nav-content">
              <h3 class="contact-nav">Office</h3>
              <p href="" class="">123 Books St, Sydney NSW 2000 AU</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="map-location">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26497.988658057733!2d151.15746169207225!3d-33.88325123608467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae2a3f0307d3%3A0xcda527941ab9b09a!2sGleebooks!5e0!3m2!1suk!2sua!4v1751714930749!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map"
      ></iframe>
    </div>
  </div>
</div>
