:root {
  --main-color: #0B0500;
  --background-color: #FCEEE6;
  --strong-orange: #E15D05;
  --light-orange: #EA8D50;
  --white: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: Rubik;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--main-color);
}

main {
  flex-grow: 1;
}

section {
  padding: 64px 0;
}