.book-button-show-more {
    color: white;
    height: auto;
    padding: 12px 0;
    max-width: none;
    margin-top: 24px;
}

.book-list-container {
    width: 100%;
}

.book-btn {
    margin-top: auto;
}

.book-counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-section-title {
    font-size: 20px;
    font-weight: 600;
}

.book-section {
    padding: 32px 0;
}

.book-counter {
    font-size: 14px;
}

.book-select-menu {
    overflow-x: hidden;
    font-size: 18px;
}

.book-categories-list-container {
    margin: 24px 0;
    padding: 8px 12px;
    background-color: rgb(11, 5, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgb(11, 5, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.book-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0;
}

.book-img {
    height: 488px;
    border-radius: 8px;
    width: 100%;
}

.book-title {
    font-weight: 600;
}

.book-author {
    font-size: 14px;
}

.book-price {
    font-size: 20px;
    font-weight: 600;
}

.book-categories-list {
    background-color: rgb(11, 5, 0, 0.05);
    padding: 0 12px;
}



.book-category {
    padding: 8px 0;
    font-size: 14px;
    line-height: 1.5em;
    cursor: pointer;
}

.book-category:hover {
    color: var(--strong-orange);
}

.book-list {
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    flex-wrap: wrap;
}

.book-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.book-categories-list-wrapper {
    width: 100%;

    border-radius: 8px;
    border: 1px solid rgb(11, 5, 0, 0.15);
    position: absolute;
    inset-block-start: 44px;
    inset-inline-start: 0;
    max-height: 296px;
    overflow-y: scroll;
    display: none;
    background-color: var(--background-color);
}

/* width */
.book-categories-list-wrapper::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.book-categories-list-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

/* Handle */
.book-categories-list-wrapper::-webkit-scrollbar-thumb {
    background: var(--strong-orange);
    border-radius: 4px;
}

/* loader */

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: green;
    display: none;
    margin: 0 auto;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    } 
}

@media screen and (min-width: 768px) {
    .book-categories-list-container {
        width: 250px;
        margin: 0;
    }

    .book-interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .book-section-title {
        width: 310px;
    }

    .book-card {
        width: calc((100% - 24px) / 2);
    }

    .book-list {
        gap: 24px;
        row-gap: 40px;
    }

    .book-img {
        height: 484px;
    }
}

@media screen and (min-width: 1440px) {

    .book-img {
        height: 323px;
    }

    .book-card {
        width: calc((100% - 72px) / 4);
    }

    .book-container {
        display: flex;
        gap: 24px;
    }

    .book-interface {
        display: block;
        align-items: baseline;
    }

    .book-section-title {
        width: 187px;
    }

    .book-counter {
        width: 121px;
    }


    .book-select-menu {
        display: none;
    }

    .book-menu-icon {
        display: none;
    }

    .book-categories-list-container {
        all: unset;
    }

    .book-categories-list-wrapper {
        display: block !important;
        position: static;
        overflow-y: visible;
        max-height: fit-content;
        border: none;
        margin-top: 24px;
        padding: 0;
    }

    .book-categories-list {
        background-color: transparent;
    }
}