.header {
  padding: 2rem;
  border-radius: 10px;
    scroll-behavior: smooth;
}

.header__navbar {
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0B0500;
  gap: 0.5rem;
}

.header__logo img {
  width: 84px;
  height: 36px;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-list li a {
  text-decoration: none;
  color: #0B0500;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.header__nav-list li a:hover {
  color: #f26522;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 8px;
  padding: 2rem;
}

.header__text {
  max-width: 50%;
}


.header__image img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.header__bottom h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #0B0500;
}

.header__arrows {
  display: flex;
  gap: 1rem;
}

.arrow__left,
.arrow__right {
  background-color: #f26522;
  border: none;
  width: 48px;
  height: 48px;
  color: #0B0500;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
