body.no-scroll {
  overflow: hidden;
}

.contact-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact-backdrop.is-visible {
  opacity: 1;
  visibility: visible;
}

/* Анімація для модалки */
.contact-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 64px 16px;
  border-radius: 16px;
  width: 100%;
  max-width: 343px;
  margin: 0 16px;
  position: relative;

  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.contact-backdrop.is-visible .contact-modal {
  opacity: 1;
  transform: scale(1);
}

.contact-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.contact-close-btn svg.icon {
  padding: 8px;
}

.contact-modal-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  text-align: center;
}

.contact-event-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 48px;
}

.contact-modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.contact-modal-form label {
  display: block;

  font-size: 16px;
}

.contact-modal-form input,
.contact-modal-form textarea {
  margin-top: 8px;
  width: 100%;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  background-color: rgba(11, 5, 0, 0.05);
}

.contact-modal-form input:focus,
.contact-modal-form textarea:focus {
  border-color: #333;
  outline: none;
}

.contact-modal-form textarea {
  resize: none;
  min-height: 180px;
}

.contact-submit-btn {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.modal-btn.contact-submit-btn:hover,
.modal-btn.contact-submit-btn:focus {
  border: 1px solid var(--main-color);
  background-color: var(--white);
  color: var(--main-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input.error,
textarea.error {
  border-color: #ad0000;
}

.error-text {
  display: none;
  color: #ad0000;
  font-size: 12px;
  margin-top: 4px;
}

input.error+.error-text,
textarea.error+.error-text {
  display: block;
}

@media screen and (min-width: 768px) {
  .contact-modal {
    padding: 64px 32px;
    max-width: 704px;
    height: 760px;
  }

  .contact-submit-btn {
    max-width: 342px;
  }

  .contact-close-btn {
    top: 16px;
    right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-modal {
    padding: 64px;
    max-width: 866px;
    height: 760px;
  }
}